<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes da Receita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 align="center">{{receipt.name}}</h1>
  <iframe width="100%" height="30%" [src]="receipt.video | safe" frameborder="0" allow="encrypted-media"
    allowfullscreen></iframe>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-badge (click)="showIng()">Ingredientes</ion-badge>
    </ion-item-divider>
    <ion-card>
      <ion-card-content *ngIf="show_ingredients">
        <ion-item *ngFor="let item of receipt.ingredients">{{ item }}</ion-item>
        <ion-item>
          <button ion-button color="dark" (click)="hideIng()" item-end clear>
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-badge (click)="showPrep()">Modo de preparo</ion-badge>
    </ion-item-divider>
    <ion-card>
      <ion-card-content *ngIf="show_preparation">
        <ion-item *ngFor="let item of receipt.preparation">{{ item }}</ion-item>
        <ion-item>
          <button ion-button color="dark" (click)="hidePrep()" item-end clear>
            <ion-icon name="arrow-dropup"></ion-icon>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item-group>



  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center *ngIf="from_home || from_anteriores"> <button ion-button color="secondary" large round outline (click)="iCanDo()">Eu faço!</button> </ion-col>
      <ion-col col-12 text-center *ngIf="from_atuais"> <button ion-button color="danger" large round outline (click)="iCanDo()">Cancelar!</button> </ion-col>

    </ion-row>

  </ion-grid>





</ion-content>