page-anteriores {
  .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
        height: 36%;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 56%;
        width: 100%;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }
}
